body{
  padding: 0px;
  margin: 0px;
}

#bloc-one {

  height:60px;
  padding-top: 10px;
  border-bottom: 1px solid 	#B9B8B8;

}

#medium{
  float:left;
  margin-left: 200px;
  padding-top: 4px;
}
#sign{
  float: right;
  margin-right: 200px;
  color: purple;
  margin-top: 5px;
}

#getstarted {
  border: 2px solid purple;
  padding:10px;
  margin-left: 3px;

  justify-content: space-around;
  border-radius: 10px;
  text-decoration: none;
  color:purple;

}

#bloc-two {
  height:55px;
  float:none;
  width: 100%;
  box-shadow: 0 2px 4px #B9B8B8;
  display: inline-block;

}

#oz{
  float:left;
  margin-left: 197px;
  margin-top: 8px;

}

nav a{
  float:none;
  justify-content: space-around;
  color: 	#B9B8B8;
  text-decoration: none;
  font-size: 18px;


}
nav ul{
  list-style-type:none;
    margin-top: 8px;
}

li{
    margin-left: 2%;
    padding: 10px;
    display: inline-block;
}

#ptitle{
  font-family: georgia;
  font-size: 30px;
  color:grey;
}

figure {
  display: block;
  margin:auto;
  text-align: center;
  font-family: georgia;
}


#bloc-three {
  padding-left: 450px;
  padding-right: 450px;
  font-size: 29px;
}

p{
  font-family: georgia;
  line-height: 40px;
}

h1{
  font-family: Encore Sans;
}

#insta {
  padding-left: 450px;
  padding-right: 450px;
  display: inline-block;
}

#photoharry{
  height: 40px;
  width: 40px;
  border-radius: 50px;
  float:left;
}

#textharry{
  padding-left: 50px;
  margin-top:2px;
  line-height: 20px;
  float:inherit;
}

#butharry{
  position: absolute;
  right: 1114px;
  top:433px;
  border: 2px solid purple;
  margin: 20px;
  justify-content: space-around;
  border-radius: 5px;
  text-decoration: none;
  color:purple;
  background-color: white;
}

#y {
  font-size: 70px;
  background-color: black;
  color:white;
}

#bloc-four {
  padding-left: 450px;
  padding-right: 450px;
  font-size: 29px;

}

#instagram {
  padding-left: 200px;
  padding-right: 200px;
}

#pub {
  padding-left: 200px;
  padding-right: 200px;
}
