body{
  padding: 0px;
  margin: 0px;
}

#bloc-one {

  height:60px;
  padding-top: 10px;
  border-bottom: 1px solid 	#B9B8B8;

}

#medium{
  float:left;
  margin-left: 200px;
  padding-top: 4px;
}
#sign{
  float: right;
  margin-right: 200px;
  color: #B681F2;
  margin-top: 5px;
}

#getstarted {
  border: 1px solid #B681F2;
  padding:10px;
  margin-left: 3px;
  justify-content: space-around;
  border-radius: 10px;
  text-decoration: none;
  color:#B681F2;

}

#bloc-two {
  height:55px;
  float:none;
  width: 100%;
  box-shadow: 0 2px 4px #B9B8B8;
  display: inline-block;

}

#oz{
  float:left;
  margin-left: 197px;
  margin-top: 8px;

}

nav a{
  float:none;
  justify-content: space-around;
  color: 	#B9B8B8;
  text-decoration: none;
  font-size: 18px;


}
nav ul{
  list-style-type:none;
    margin-top: 8px;
}

li{
    margin-left: 2%;
    padding: 10px;
    display: inline-block;
}

#ptitle{
  font-family: georgia;
  font-size: 30px;
  color:grey;
}

figure {
  display: block;
  margin:auto;
  text-align: center;
  font-family: georgia;
}


#bloc-three {
  padding-left: 450px;
  padding-right: 450px;
  font-size: 29px;
}

p{
  font-family: georgia;
  line-height: 40px;
}

h1{
  font-family: Encore Sans;
}

#insta {
  padding-left: 450px;
  padding-right: 450px;
  display: inline-block;
}

#photoharry {
  height: 40px;
  width: 40px;
  border-radius: 50px;
  float:left;
}

#textharry{
  padding-left: 50px;
  margin-top:2px;
  line-height: 20px;
  float:inherit;
}

#butharry{
  position: absolute;
  right: 1114px;
  top:433px;
  border: 1px solid #B681F2;
  margin: 20px;
  justify-content: space-around;
  border-radius: 5px;
  text-decoration: none;
  color:#B681F2;
  background-color: white;
}

#y {
  height: 100px;
  width: 100px;
  border-radius: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  float:left;
  margin: 10px;
  font-size: 70px;
  background-color: black;
  color:white;
}

#bloc-four {
  padding-left: 450px;
  padding-right: 450px;
  font-size: 29px;
  color: #373539;

}
blockquote{
  font-family: georgia;
  font-size: 35px;
  font-style: italic;
  line-height: 80px;
  padding: 10px;
}


#instagram{

  margin:auto;
  display: flex;
  flex-direction: row;
  padding: 2px;
  justify-content: space-around;
  border-top: 1px, solid, #B9B8B8;
}

#instarry{

  width:50%;
  font-size: 16px;
}

#photo {
  height: 50px;
  width: 50px;
  border-radius: 50px;
  float:left;
  margin-top: 15px;
}

.instatext {
  line-height: 20px;
  padding-left: 65px;
}
.instatext2 {
  line-height: 20px;
  padding-left: 65px;
}
#ozz{
  width: 50px;
  height: 50px;
  float: left;
  margin-top: 15px;
}
#instazero{
  width:50%;
  font-size: 16px;
}

.instab {
  border: 1px solid #B681F2;
  padding:10px;
  margin-left: 3px;
  justify-content: space-around;
  border-radius: 10px;
  text-decoration: none;
  color:#B681F2;
  background-color: white;


}
.instab2 {
  border: 1px solid #B681F2;
  padding:10px;
  margin-left: 3px;
  justify-content: space-around;
  border-radius: 10px;
  text-decoration: none;
  color:#B681F2;
  background-color: white;


}
footer{
  width: 100%;

}
